
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">ReFresh</a>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<div class="login">
<div class="box"> 
<h1 class="heading">Re<strong>Fresh</strong></h1>
<h3 class="text">Sign In to Track, Refresh, and Cook!</h3>
		<p class="error">{{error}}</p>
		<p class="message">{{message}}</p>
		<img class="fb" src="http://www.ezyfind.co.za/Images/facebook-login.png"ng-click="signIn()"/>
		<div ng-show="firebaseUser">uid: {{firebaseUser.uid}}</div>
	</div>
</div>
<div class="footer">
<div class="footer-text">
<div class="contact">
<h5>Contact</h5>
Facebook<br>
Twitter<br>
Email
</div>
<div class="about">
<h5>About</h5>
About Us<br>
Blog<br>
Privacy Policy<br>
Terms of Service
</div>
<div class="Help">
<h5>Help</h5>
Help Center<br>
Get Started<br>
</div>
<div class="copy">
&copy; Re<strong>Fresh</strong> 2016
</div>
</div>
</div>
